@inject FitPro.Common.DTOs.CurrentUserDto CurrentUser


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FitPro.WebApp</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/HomeStyle.css" />
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm border-bottom box-shadow mb-3 bg-light">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <div class="crem-text">FitPro.WebApp</div>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">
                                <div class="crem-text">Home</div>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Trainer" asp-action="TrainerWorkoutsList">
                                <div class="crem-text">Workouts</div>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Nutritionist" asp-action="AlimentsList">
                                <div class="crem-text">Check Nutrition</div>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-action="NutritionistRecipesList" asp-controller="Nutritionist">
                                <div class="crem-text">Recipes</div>
                            </a>
                        </li>
                    </ul>
                </div>
                @if (CurrentUser.IsAuthenticated && CurrentUser.Role == "Regular")
                {
                    <div class="dropdown">
                        <button class="btn border-0 dropdown-toggle bg-light" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img id="user-image" src="@Url.ActionLink("ProfilePicByUserName", "Account", new { userName = CurrentUser.UserName })" />
                            <span class="crem-text">@CurrentUser.UserName</span>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" asp-controller="Account" asp-action="Details" asp-route-userName="@CurrentUser.UserName"><div class="crem-text">@CurrentUser.FirstName @CurrentUser.LastName</div></a>
                            <a class="dropdown-item" asp-controller="User" asp-action="FitProProgram" asp-route-userId="@CurrentUser.Id"><div class="crem-text">FitProProgram</div></a>
                            <a class="dropdown-item" asp-controller="NutritionTrack" asp-action="DailyTrack"><div class="crem-text">Track Nutrition</div></a>
                            <a class="dropdown-item" asp-controller="User" asp-action="Friends" asp-route-userId="@CurrentUser.Id"><div class="crem-text">Friends</div></a>
                            <a class="dropdown-item" asp-controller="User" asp-action="SavedItems"><div class="crem-text">Saved</div></a>
                            <a class="dropdown-item" asp-controller="User" asp-action="MyRecommandation"><div class="crem-text">Shared</div></a>

                            <a class="dropdown-item" asp-controller="Account" asp-action="EditRegularProfile"><div class="crem-text">Edit</div></a>
                            <a class="dropdown-item" asp-controller="Account" asp-action="Logout"><div class="crem-text">Log out</div></a>
                        </div>
                    </div>
                }
                else if (CurrentUser.IsAuthenticated && CurrentUser.Role == "Admin")
                {
                    <div class="dropdown">
                        <button class="btn border-0 dropdown-toggle bg-light" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img id="user-image" src="@Url.ActionLink("ProfilePicByUserName", "Account", new { userName = CurrentUser.UserName })" />
                            <span class="crem-text">@CurrentUser.UserName</span>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" asp-controller="Account" asp-action="Details" asp-route-userName="@CurrentUser.UserName"><div class="crem-text">@CurrentUser.FirstName @CurrentUser.LastName</div></a>
                            <a class="dropdown-item" asp-controller="Account" asp-action="EditSpecialProfile"><div class="crem-text">Edit Profile</div></a>
                            <a class="dropdown-item" asp-controller="Admin" asp-action="AdminUsersList" asp-route-currentPage="1" asp-route-rowNumber="10"><div class="crem-text">Users</div></a>
                            <a class="dropdown-item" asp-controller="Account" asp-action="Logout"><div class="crem-text">Log out</div></a>
                        </div>
                    </div>
                }
                else if (CurrentUser.IsAuthenticated && CurrentUser.Role == "Trainer")
                {
                    <div class="dropdown">
                        <button class="btn border-0 dropdown-toggle bg-light" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img id="user-image" src="@Url.ActionLink("ProfilePicByUserName", "Account", new { userName = CurrentUser.UserName })" />
                            <span class="crem-text">@CurrentUser.UserName</span>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" asp-controller="Account" asp-action="Details" asp-route-userName="@CurrentUser.UserName"><div class="crem-text">@CurrentUser.FirstName @CurrentUser.LastName</div></a>
                            <a class="dropdown-item" asp-controller="Account" asp-action="EditSpecialProfile"><div class="crem-text">Edit Profile</div></a>
                            <a class="dropdown-item" asp-controller="Trainer" asp-action="TrainerWorkoutsList"><div class="crem-text">Edit Workouts</div></a>
                            <a class="dropdown-item" asp-controller="Account" asp-action="Logout"><div class="crem-text">Log out</div></a>
                        </div>
                    </div>
                }
                else if (CurrentUser.IsAuthenticated && CurrentUser.Role == "Nutritionist")
                {
                    <div class="dropdown">
                        <button class="btn border-0 dropdown-toggle bg-light" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img id="user-image" src="@Url.ActionLink("ProfilePicByUserName", "Account", new { userName = CurrentUser.UserName })" />
                            <span class="crem-text">@CurrentUser.UserName</span>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" asp-controller="Account" asp-action="Details" asp-route-userName="@CurrentUser.UserName"><div class="crem-text">@CurrentUser.FirstName @CurrentUser.LastName</div></a>
                            <a class="dropdown-item" asp-controller="Account" asp-action="EditSpecialProfile"><div class="crem-text">Edit Profile</div></a>
                            <a class="dropdown-item" asp-controller="Nutritionist" asp-action="AlimentsList"><div class="crem-text">Edit Aliments</div></a>
                            <a class="dropdown-item" asp-controller="Nutritionist" asp-action="NutritionistRecipesList"><div class="crem-text">Edit Recipes</div></a>
                            <a class="dropdown-item" asp-controller="Account" asp-action="Logout"><div class="crem-text">Log out</div></a>
                        </div>
                    </div>
                }
                else
                {
                    <a asp-controller="Account" asp-action="Login"><div class="crem-text">Log in</div></a>
                }
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
    <script src="https://kit.fontawesome.com/930e1b6eb6.js" crossorigin="anonymous"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
